body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:14px;
	padding:10px 10px 10px 10px;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}

.box, .menuVipArticles{
  display: inline-block;
  vertical-align: top;
}
.box{
  width: 62%;
  margin-right: 20%;
  text-align: left;
}
.menuVipArticles{
  width: 15%;
  border: black solid 1px;
  border-radius: 10px;
  background-color: black;
  padding: 0 0 55px 0;
}
.menuVipArticles h2{
  color: white;
}
.vipNames{
  background-color: white;
  display: block;
}
.vipNames a{
  color: black;
  text-decoration: underline;
}



.nom a{
  color: black;
  text-decoration: underline;
}
.boxFooter{
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}
.date, .fiche{
  display: inline-block;
}
.fiche{
  margin-left: 80%;
}
.texte{
  text-align: justify;
}

/*ALBUM PHOTO*/
.menuAlbum{
  border: black solid 1px;
  width: 250px;
  padding: 10px;
}
.vipPhoto{
  display: inline-block;
}
.vipPhoto img{
  width: 50px;
  height: 75px;
}
#ante, #post{
  display: inline-block;
}
.back, .vipPhotoAlbum, .next{
  display: inline-block;
  vertical-align: middle;
}
.back{
  margin-right: 100px;
}
.next{
  margin-left: 100px;
}
.menuAlbum, .album{
  display: inline-block;
  vertical-align: middle;
}
.album{
  padding-left: 100px;
  padding-right: 400px;
}
