<fieldset class="box">
  <legend>Article</legend>
  <p>Choisissez un vip pour voir les articles le concernant</p>
</fieldset>

<div class="menuVipArticles">
  <h2>VIPs</h2>
  {{#each vipsE}}
  <div class="vipNames">
    <a href="articles/{{this.VIP_NUMERO}}">
      {{this.VIP_PRENOM}} {{this.VIP_NOM}}
    </a>
  </div>
  {{/each}}
</div>
