<script>var a = 0;</script>
<p>Cliquez sur une lettre :
    {{#each nod}}
    <a href="/repertoire/{{this.LETTRE}}">
        {{this.LETTRE}}
    </a>
    {{/each}}
</p>



<h2>Informations sur la star</h2>
<img src="/images/vip/{{photo.0.PHOTO_ADRESSE}}" alt="aïe" class="imagePrincipale">

{{#each detailVip}}
{{!-- <img src="/images/vip/{{../photo.0.photo}}" alt="Image Officielle de {{personne.0.prenom}}{{personne.0.nom}}"> --}}


<p><b>Nom : </b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
 <p><b>Date de naissance : </b> {{formatDate dateNaissance "dddd D MMMM YYYY"}}</p>
<p><b>Nationalité :</b> {{this.NATIONALITE_NOM}}</p>

 {{!-- <p><b>Principal(aux) film(s): </b> {{#each ../films}}{{this.titre}} {{#if this.prenom}} de : <a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.prenom}} {{this.nom}}</a>{{/if}}<br>{{/each}} --}}
<p><b>Qui suis-je ? : </b>{{this.VIP_TEXTE}}</p>
{{/each}}
{{#if acteurVip}}                               <!---_______________acteur_______________-->
  <p><b>Profession : </b>
  {{#ifCond acteurVip.0.VIP_SEXE '==' "M"}}
    Acteur
  {{else}}
    Actrice
  {{/ifCond}}</p>
  {{#if acteurVipFilm}}                       <!---_______________films_______________-->
    <p><b>Principal(aux) film(s) : </b>
    {{#each acteurVipFilm}}
      {{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION 'MMMM YYYY' }})
      {{#ifCond this.VIP_NOM '!=' null }}
       de <a class="tooltip" href="/repertoire/vip/{{this.realNum}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
       {{/ifCond}}</p>
    {{/each}}
  {{/if}}
{{/if}}


{{#if realisateurVip}}                          <!---_______________realisateur_______________-->
  <p><b>Profession : </b>
  {{#ifCond realisateurVip.0.VIP_SEXE '==' "M"}}
    Réalisateur
  {{else}}
    Réalisatrice
  {{/ifCond}}</p>
  {{#each realisateurVip}}                                            <!---_______________films_______________-->
    {{#ifCond this.FILM_TITRE '!=' null }}
        <p><label>Principal(aux) film(s) : </label>
        {{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION 'MMMM YYYY' }})
    {{/ifCond}}</p>
  {{/each}}
{{/if}}

{{#if mannequinVip}}                            <!---_______________mannequin_______________-->
  <p><b>Profession : </b> Mannequin</p>

  {{#if mannequinVipDefile}}
    <p><b>Principal(aux) défilé(s) : </b>

    {{#each mannequinVipDefile}}                        <!---_______________defiles_______________-->
      {{this.DEFILE_LIEU}} ({{formatDate this.DEFILE_DATE 'MMMM YYYY' }})

      {{#ifCond this.VIP_NOM '!=' null }}
       de <a href="/repertoire/vip/{{this.coutNum}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
       {{/ifCond}}</p>

    {{/each}}
  {{/if}}
{{/if}}

{{#if chanteurVip}}                            <!---_______________chanteur_______________-->
  <p><label>Profession : </label>
    {{#ifCond chanteurVip.0.VIP_SEXE '==' "M"}}
      Chanteur
    {{else}}
      Chanteuse
    {{/ifCond}}
  ({{chanteurVip.0.CHANTEUR_SPECIALITE}})</p>
  {{#ifCond chanteurVip.0.ALBUM_TITRE '!=' null}}
    <p><label>Principal(aux) album(s) : </label>
    {{#each chanteurVip}}                      <!---_______________albums_______________-->
      {{this.ALBUM_TITRE}} ({{formatDate this.ALBUM_DATE 'MMMM YYYY' }}) {{this.MAISONDISQUE_NOM}}</p>
    {{/each}}
  {{/ifCond}}
{{/if}}

{{#if mariagesVip}}                             <!---_______________mariage_______________-->
  <p><label>Mariages : </label>
    {{#each mariagesVip}}
       <a href="/repertoire/vip/{{this.VIP_VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a> ( {{formatDate this.DATE_EVENEMENT 'MMMM YYYY' }}
        {{#ifCond this.MARIAGE_FIN '!=' null}}
          ---> {{formatDate this.MARIAGE_FIN 'MMMM YYYY' }}
        {{/ifCond}}
        )<label> Lieu : </label>{{this.MARIAGE_LIEU}}
        {{#ifCond this.MARIAGE_MOTIFFIN '!=' null}}
          <label> Raison fin mariage : </label>{{this.MARIAGE_MOTIFFIN}}
        {{/ifCond}}
      </p>
    {{/each}}
{{/if}}

{{#if mariagesVipV2}}                           <!---_______________mariage_______________-->
  <p><label>Mariages : </label>
    {{#each mariagesVipV2}}
       <a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a> ( {{formatDate this.DATE_EVENEMENT 'MMMM YYYY' }}
        {{#ifCond this.MARIAGE_FIN '!=' null}}
          ---> {{formatDate this.MARIAGE_FIN 'MMMM YYYY' }}
        {{/ifCond}}
        )<label> Lieu : </label>{{this.MARIAGE_LIEU}}
        {{#ifCond this.MARIAGE_MOTIFFIN '!=' null}}
          <label> Raison fin mariage : </label>{{this.MARIAGE_MOTIFFIN}}
        {{/ifCond}}
      </p>
    {{/each}}
{{/if}}

{{#if liaisonsVip}}                             <!---_______________liaison_______________-->
  <p><label>Liaison(s) : </label>
    {{#each liaisonsVip}}
       <a href="/repertoire/vip/{{this.VIP_VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a> ( {{formatDate this.DATE_EVENEMENT 'MMMM YYYY' }} )
        {{#ifCond this.LIAISON_MOTIFFIN '!=' null}}
          <label> Raison fin liaiosn : </label>{{this.LIAISON_MOTIFFIN}}
        {{/ifCond}}
      </p>
    {{/each}}             <!--  //////////////FAIRE ATTENTION AU DOUBLON D AFFICHAGE (Melanie Laurent)\\\\\\\\\\\\\\  -->
{{/if}}

{{#if liaisonsVipV2}}
  <p><label>Liaison(s) : </label>                            <!---_______________liaison_______________-->
    {{#each liaisonsVipV2}}
       <a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a> ( {{formatDate this.DATE_EVENEMENT 'MMMM YYYY' }} )
        {{#ifCond this.LIAISON_MOTIFFIN '!=' null}}
          <label> Raison fin liaiosn : </label>{{this.LIAISON_MOTIFFIN}}
        {{/ifCond}}
      </p>
    {{/each}}
{{/if}}

{{#if photo}}                                    <!--__________________liste photos_______________-->
  {{#each photo}}
    {{#ifCond this.PHOTO_NUMERO '!=' 1}}
    <a class="example-image-link" href="/images/vip/{{this.PHOTO_ADRESSE}}" data-lightbox="example-set" data-title="{{this.PHOTO_SUJET}} - {{this.PHOTO_COMMENTAIRE}}">
      <img class="example-image imgBioListe" src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="oups"/></a>
    {{/ifCond}}
  {{/each}}
{{/if}}



