<script>
  // i est le numéro de page avec 12 vips par pages
  let i = 0;
  // p est le numéro courant de la photo du vip
  let p = 0;
  // max est le nombre de page nécessaire pour n vips
  function next(){
    if(i<max-1){
      i += 1;
      document.getElementById("i").value = i;
      updateImg();
    }
    console.log(i);
  }
  function previous(){
    if(i>0){
      i -= 1;
      document.getElementById("i").value = i;
      updateImg();
    }
    console.log(i);
  }
  function debut(){
    if(i!=0){
      i = 0;
      document.getElementById("i").value = i;
      updateImg();
    }
    console.log(i);
  }
  function fin(){
    if(i!=max-1){
      i = max-1;
      document.getElementById("i").value = i;
      updateImg();
    }
    console.log(i);
  }

  function getI(){
    return i;
  }
  function setI(){
    if(i==null){
      i=0;
    }
  }

  function updateImg(){
    for(x=0; x<maxVip; x++){
      if(x < i*12 || x >= (i+1)*12){
        document.getElementById("img"+x).style.display = "none";
      }
      else if(x >=12*2 || x<(i+1)*12){
        document.getElementById("img"+x).style.display = "inline-block";
      }
    }
  }

  //Pour l'album d'un vip
  function pPrevious(){
    if(p>0){
      p -=1;
      updatePic();
    }
  }
  function pNext(){
    if(p<picCounter-1){
      p += 1;
      updatePic();
    }
  }
  function updatePic(){
    for(x=0; x<picCounter; x++){
      if(x!=p){
        document.getElementById("pic"+x).style.display = "none";
      }
      else{
        document.getElementById("pic"+x).style.display = "inline-block";
      }
    }
  }
</script>

<div class="menuAlbum">
  <script>
    var j = 0;
  </script>
  {{#each albs}}
  <div id="img" class="vipPhoto">
    <a href="/album/{{this.VIP_NUMERO}}">
      <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="{{this.VIP_PRENOM}} {{this.VIP_NOM}}" />
      <script>
        document.getElementById("img").id += j.toString();
        j += 1;
      </script>
    </a>
  </div>
  {{/each}}
    <div is="albumFooter">
      <div id="ante">
        <input id="btd" type="button" value="Début" />
        <input id="btp" type="button" value="Précédent" />
      </div>
      <div id="post">
        <input id="btn" type="button" value="Suivant" />
        <input id="btf" type="button" value="Fin" />
      </div>
    </div>
</div>

<script>
  k = 0;
</script>
<div id="vipAlbum" class="album">
  <script>
    var picCounter = 0;
  </script>
  <div class="back">
    <a id="pbtp"><<</a>
  </div>
  {{#each alb}}
  <div id="pic">
    <div id="photo">
      <div class="nom">
        {{this.VIP_PRENOM}} {{this.VIP_NOM}}
      </div>
      <div class="vipPhotoAlbum">
        <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="{{this.VIP_PRENOM}} {{this.VIP_NOM}}" width="150" height="200" />
      </div>
      <script>
      document.getElementById("pic").id += picCounter.toString();
        picCounter += 1;
      </script>
    </div>
  </div>
  <script>
    if(document.getElementById("pers")!=null){
      document.getElementById("pers").id += j.toString();
      k += 1;
    }
  </script>
  {{/each}}
  <div class="next">
    <a id="pbtn">>></a>
  </div>
</div>

<input id="i" type="hidden" value="" />
{{#each nbVips}}
  <input id="nbVips" type="hidden" value="{{this.nbVips}}" />
{{/each}}

<script>
  let maxVip = document.getElementById("nbVips").value;
  max = maxVip/12;
  max = Math.ceil(max);

  window.onload = function(){
    document.getElementById("btn").addEventListener("click", next);
    document.getElementById("btp").addEventListener("click", previous);
    document.getElementById("btd").addEventListener("click", debut);
    document.getElementById("btf").addEventListener("click", fin);
    if(document.getElementById("pbtp")!=null){
      document.getElementById("pbtp").addEventListener("click", pPrevious);
      document.getElementById("pbtn").addEventListener("click", pNext);
      updatePic();
    }
    updateImg();
  };
</script>

<script src="../controllers/AlbumController.js">
</script>
