<div class="box">
  {{#each articles}}
  <fieldset class="boxArticle">
    <legend>Article</legend>
    <div class="article">
      <div class="nom">
        <a href="">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
      </div>
      <br/>
      <div class="texte">
        {{this.ARTICLE_RESUME}}
      </div>
      <br/>
      <div class="boxFooter">
        <div class="date">
          [Ajouté le {{formatDate dateArticle "dddd D MMMM YYYY"}}]
        </div>
        <div class="fiche">
          <a href="/repertoire/vip/{{VIP_NUMERO}}">voir sa fiche</a>
        </div>
      </div>
    </div>
    </fieldset>
    <br />
  {{/each}}
</div>

<div class="menuVipArticles">
  <h2>VIPs</h2>
  {{#each vipsE}}
  <div class="vipNames">
    <a href="{{this.VIP_NUMERO}}">
      {{this.VIP_PRENOM}} {{this.VIP_NOM}}
    </a>
  </div>
  {{/each}}
</div>
