<script>var a = 0;</script>
<p>Cliquez sur une lettre :
    {{#each nod}}
    <a href="/repertoire/{{this.LETTRE}}">
        {{this.LETTRE}}
    </a>
    {{/each}}
</p>



<h2>Info sur les vip : </h2>

    {{#each infoVip}}

    <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="50">
    <a href="/repertoire/vip/{{this.VIP_NUMERO}}"> {{this.VIP_PRENOM}} {{this.VIP_NOM}} </a>


    {{/each}}




